body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #c9aaba;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.clock-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    border: 4px solid #333;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.clock {
    font-size: 2em;
    color: #333;
}
